<f:layout name="Default" />

<f:section name="Title">
    <f:translate id="personalData"/>
</f:section>

<f:section name="PageTitle">
	<h1>
		<f:translate id="personalData"/>
	</h1>
</f:section>

<f:section name="Content">

	<p>
		<f:translate id="personalData.info"/>
	</p>
    <f:form action="create" object="{user}" objectName="user">
		<f:render partial="User/FormFields" arguments="{_all}"/>

		<f:form.hidden name="account" value="{account}"/>

		<div class="one50-buttonContainer">
			<f:link.action action="index" class="btn btn-secondary">
				<f:translate id="cancel"/>
			</f:link.action>

			<f:form.submit value="{f:translate(id: 'save')}" class="btn btn-primary"/>
		</div>
	</f:form>
</f:section>