<f:layout name="Default" />

<f:section name="Title">
    <f:translate id="register"/>
</f:section>

<f:section name="PageTitle">
	<h1>
		<f:translate id="register"/>
	</h1>
</f:section>

<f:section name="Content">

	<f:form action="createAccount">

		<div class="form-group row">
			<label for="username" class="col-md-3 col-form-label">
				<f:translate id="username"/>
			</label>
			<div class="col-md-9">
				<f:form.textfield type="text" name="username" id="username" class="form-control"/>
			</div>
		</div>

		<div class="form-group row">
			<label for="password" class="col-md-3 col-form-label">
				<f:translate id="password"/>
			</label>
			<div class="col-md-9">
				<f:form.password name="password" id="password" class="form-control"/>
			</div>
		</div>

		<div class="form-group row">
			<label for="passwordRepetition" class="col-md-3 col-form-label">
				<f:translate id="passwordRepetition"/>
			</label>
			<div class="col-md-9">
				<f:form.password name="passwordRepetition" id="passwordRepetition" class="form-control"/>
			</div>
		</div>


		<div class="one50-buttonContainer">
			<f:form.submit value="{f:translate(id: 'register')}" class="btn btn-primary"/>
		</div>

	</f:form>

</f:section>