<f:layout name="Default" />

<f:section name="Title">
    <f:translate id="twintpayment"/>
</f:section>

<f:section name="PageTitle">
	<h1 id="paymentStatus_title"></h1>
</f:section>

<f:section name="Content">
    <h3 id="paymentStatus_main"></h3>

    <h5 id="paymentStatus_end"></h5>

    <f:link.action action="show" id="orderBtn" controller="Order" arguments="{order: order}" class="btn btn-primary">Zurück zur Bestellung</f:link.action>

    <script type="text/javascript">
        $(document).ready(function(){
            const orderStatusUrl = '{f:uri.action(action:"checkOrderStatus")}';

            //TODO: Is this really needed?
            var order = '{order -> f:format.identifier()}'
            const orderUuid = '{orderUuid}'

            const paymentStatus_title_s = '{f:translate(id: "twintpayment_success")}';
            const paymentStatus_main_s = '{f:translate(id: "twintpayment_success_maintext")}';
            const paymentStatus_end_s = '{f:translate(id: "twintpayment_success_endtext")}';
            const paymentStatus_title_f = '{f:translate(id: "twintpayment_failed")}';
            const paymentStatus_main_f = '{f:translate(id: "twintpayment_failed_maintext")}';
            const paymentStatus_end_f = '{f:translate(id: "twintpayment_failed_endtext")}';

            $("#paymentStatus_title").text('{f:translate(id: "twintpayment_waiting")}');
            $("#orderBtn").hide();

            //Start checking for pairing
            checkOrder(orderUuid);

            function checkOrder(orderUuid){
                $.post(orderStatusUrl, { orderUuid: orderUuid}).done(function(data){
                    if(data == "IN_PROGRESS"){
                        //TODO Show Loading in UI
                        setTimeout(function(){checkOrder(orderUuid)},1000);
                    }
                    else if(data == "SUCCESS"){
                        $("#paymentStatus_title").text(paymentStatus_title_s);
                        $("#paymentStatus_main").text(paymentStatus_main_s);
                        $("#paymentStatus_end").text(paymentStatus_end_s);
                        $("#orderBtn").show();
                    }
                    else if(data == "FAILURE"){
                        $("#paymentStatus_title").text(paymentStatus_title_f);
                        $("#paymentStatus_main").text(paymentStatus_main_f);
                        $("#paymentStatus_end").text(paymentStatus_end_f);
                        $("#orderBtn").show();
                    }
                })
            }
        });
    </script>
</f:section>
