<f:layout name="Default" />

<f:section name="Title">
    <f:translate id="twintpayment"/>
</f:section>

<f:section name="PageTitle">
	<h1>
		<f:translate id="twintpayment"/>
	</h1>
</f:section>

<f:section name="Content">
    <div class="container-twint">
        <div class="section header">
            <div class="wrap">
                <div class="header-item one-third column text-left">
                    <a class="logo" href="http://www.twint.ch" target="_blank"><div class="twint-logo"></div></a>
                </div>
                <div class="header-item one-third column text-center text-uppercase">
                    <span class="value">CHF {totalsum}</span>
                </div>
                <div class="header-item one-third column text-right">
                    <a href="http://www.postfinance.ch" target="_blank" class=""><div class="postfinance-logo"></div></a>
                </div>
            </div>
        </div>
        <div class="section header-mobile hidden">
            <div class="row text-center">
                <div class="text-uppercase">
                    <a class="button back-button" href="#" target="_self">Zurück</a>
                    <a class="button info-button" href="http://www.twint.ch" target="_blank">Infos</a>
                </div>
            </div>
            <div class="row text-center text-uppercase">
                <div>
                    <p class="value">CHF {totalsum}</p>
                </div>
            </div>
        </div>
        <div class="section page">
            <div class="row grey-bg text-center">
                <div class="wrap">
                    <div class="credentials">
                        <div class="credentials-box credential-token text-center text-uppercase float-lt">
                            <p>Token</p>
                            <div class="credentials-item">
                                <f:for each="{twintToken}" as="digit">
                                    <p class="credential-number">{digit}</p>
                                </f:for>
                            </div>
                        </div>
                        <div class="credentials-box credential-txt text-center"><p>oder</p></div>
                        <div class="credentials-box credential-qrcode text-center text-uppercase float-rt">
                            <p>QR - Code</p>
                            <div class="credentials-item">
                                <img class="twint-qr-code" src="{twintQrCode}" alt="qrcode" width="160" height="160">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="description-box">
                    <div><h1 class="description-title">TWINT Zahlung bestätigen</h1></div>
                    <div class="description-item">
                        <div class="description-icon icon-app"></div><div class="description-text">1. Öffne die TWINT App auf deinem Smartphone</div>
                    </div>
                    <div class="description-item">
                        <div class="description-icon icon-pay"></div><div class="description-text">2. Wähle in der TWINT App das Menü «Bezahlen»</div>
                    </div>
                    <div class="description-item">
                        <div class="description-icon icon-cam"></div><div class="description-text">3. Gib dort den TOKEN ein oder scanne den QR-Code via Kamera-Icon</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            //transfer some vars from flow
            var paringStatusUrl = '{f:uri.action(action:"checkPairingStatus")}';
            var continuePaymentUrl = '{f:uri.action(action:"continuePayment")}';
            var orderStatusUrl = '{f:uri.action(action:"checkOrderStatus")}';
            var acceptOrderUrl = '{f:uri.action(action:"acceptOrder")}';

            var order = '{order -> f:format.identifier()}'
            var pairingUuid = '{twintPairingUuid}';

            function checkPairingStatus(){
                $.post(paringStatusUrl, { pairingUuid: pairingUuid}).done(function(data){
                    if(data == "PAIRING_IN_PROGRESS"){
                        //TODO Show Loading in UI

                        //Reqursivly call this method
                        setTimeout(checkPairingStatus,1000);
                    }
                    else if(data == "PAIRING_ACTIVE")
                    {
                        continuePayment();
                    }
                    else if(data == "NO_PAIRING"){
                        console.error("Could not pairing.");
                    }
                })
            }

            function continuePayment(){
                $.post(continuePaymentUrl, {"pairingUuid": pairingUuid, "order[__identity]": order}).done(function(orderUuid){
                    //Redirect to accept order
                    window.location.replace(acceptOrderUrl + "?order[__identity]=" + order + "&orderUuid=" + orderUuid);
                });
            }


            //start check for pairing
            checkPairingStatus();
            
        });
    </script>

</f:section>
