
<div class="form-group row">
	<label for="title" class="col-md-3 col-form-label">
		<f:translate id="title"/>
	</label>
	<div class="col-md-9">
		<f:form.textfield type="text" property="title" id="title" class="form-control"/>
	</div>
</div>

<div class="form-group row">
	<label for="description" class="col-md-3 col-form-label">
		<f:translate id="description"/>
	</label>
	<div class="col-md-9">
		<f:form.textarea property="description" id="description" cols="4" class="form-control"/>
	</div>
</div>

<div class="form-group row">
	<label for="price" class="col-md-3 col-form-label">
		<f:translate id="price"/>
	</label>
	<div class="col-md-9">
		<f:form.textfield type="number" property="price" id="price" class="form-control" additionalAttributes="{min: '0', step: 'any'}"/>
	</div>
</div>

<div class="form-group row">
	<label for="category" class="col-md-3 col-form-label">
		<f:translate id="category"/>
	</label>
	<div class="col-md-9">
		<f:form.select options="{categories}" optionLabelField="title" property="category" id="category" class="form-control custom-select"/>
	</div>
</div>

<div class="form-group row">
	<label for="image" class="col-md-3 col-form-label">
		<f:translate id="product.image"/>
	</label>
	<div class="col-md-9">
		<f:form.upload property="image" id="image" class="form-control"/>
		<f:if condition="{product.image}">
			<div class="one50-productForm-image">
				<small>
					<f:translate id="product.image.replaceHint"/>
				</small>
				<img src="{f:uri.resource(resource: product.image)}" alt="{product.title}" alt="{product.title}"/>
			</div>
		</f:if>
	</div>
</div>