<f:layout name="Default"/>

<f:section name="Title">
	<f:translate id="order" quantity="{orders -> f:count()}"/>
</f:section>

<f:section name="PageTitle">
	<h1>
		<f:translate id="order" quantity="{orders -> f:count()}"/>
	</h1>
</f:section>

<f:section name="Content">

	<f:if condition="{orders -> f:count()} > 0">
		<f:then>

			<div class="table-responsive">
				<table class="table">
					<thead>
					<tr>
						<th>{f:translate(id: 'order.date')}</th>
						<th>{f:translate(id: 'order.transactionId')}</th>
						<th>{f:translate(id: 'order.state')}</th>
						<th class="tableCell-align-right">{f:translate(id: 'order.sum')}</th>
						<th class="tableCell-align-right"></th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{orders}" as="order">
						<tr>
							<td>
								<f:format.date format="d.m.Y">{order.orderDate}</f:format.date>
							</td>
							<td>{order.transactionId}</td>
							<td>
								<f:translate id="order.state.{order.status}"/>
							</td>
							<td class="tableCell-align-right">
								<f:format.currency decimalSeparator="." currencySign="CHF">{order.totalSum}
								</f:format.currency>
							</td>
							<td class="tableCell-align-right">
								<f:link.action action="show" arguments="{order: order, origin: 'index'}" class="btn btn-secondary">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<f:translate id="details"/>
								</f:link.action>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</div>

		</f:then>
		<f:else>
			<p>
				<f:translate id="order.noneAvailable"/>
			</p>
		</f:else>
	</f:if>
</f:section>