{namespace one50=One50\Shop\ViewHelper}

<f:layout name="Default" />

<f:section name="Title">{f:translate(id: 'order')} {order.transactionId}</f:section>

<f:section name="PageTitle">
	<h1>{f:translate(id: 'order')} #{order.transactionId}</h1>
</f:section>

<f:section name="Content">

	<div class="col-md-12 one50-orderBlock">
		<h3>
			<f:translate id="order.state"/>
		</h3>
		<p>
			<f:translate id="order.state.is"/>: <strong><f:translate id="order.state.{order.status}"/></strong>
		</p>
	</div>

	<div class="col-md-12 one50-orderBlock">
		<h3>
			<f:translate id="article" quantity="{order.items -> f:count()}"/>
		</h3>
		<div class="table-responsive">
			<table class="table">
				<thead>
				<tr>
					<th>{f:translate(id: 'product')}</th>
					<th class="tableCell-align-center">{f:translate(id: 'quantity')}</th>
					<th class="tableCell-align-right">{f:translate(id: 'price.perItem')}</th>
					<th class="tableCell-align-right">{f:translate(id: 'price')}</th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{order.items}" as="item">
					<tr>
						<td>{item.product.title}</td>
						<td class="tableCell-align-center">{item.quantity}</td>
						<td class="tableCell-align-right">
							<f:format.currency decimalSeparator="." currencySign="CHF">{item.product.price}</f:format.currency>
						</td>
						<td class="tableCell-align-right">
							<f:format.currency decimalSeparator="." currencySign="CHF">
								<one50:totalItemPrice item="{item}"/>
							</f:format.currency>
						</td>
					</tr>
				</f:for>
				</tbody>
				<tfoot>
				<tr>
					<td colspan="3">
						<f:translate id="total"/>
					</td>
					<td class="tableCell-align-right">
						<f:format.currency decimalSeparator="." currencySign="CHF">
							{order.totalSum}
						</f:format.currency>
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>


	<div class="col-md-6 one50-orderBlock">
		<h3>
			<f:translate id="address.delivery"/>
		</h3>
		<p>
			{order.user.firstName} {order.user.lastName}<br />
			{order.deliveryAddress.street} {order.deliveryAddress.streetNumber}<br />
			{order.deliveryAddress.zip} {order.deliveryAddress.city}
		</p>
	</div>

	<div class="col-md-6 one50-orderBlock">
		<h3>
			<f:translate id="address.billing"/>
		</h3>
		<p>
			{order.user.firstName} {order.user.lastName}<br />
			{order.billingAddress.street} {order.billingAddress.streetNumber}<br />
			{order.billingAddress.zip} {order.billingAddress.city}
		</p>
	</div>


	<div class="one50-buttonContainer">
		<f:if condition="{origin} == 'index'">
			<f:link.action action="index" class="btn btn-secondary">
				<f:translate id="back"/>
			</f:link.action>
		</f:if>

		<f:if condition="{origin} == 'administration'">
			<f:link.action action="administration" class="btn btn-secondary">
				<f:translate id="back"/>
			</f:link.action>
		</f:if>
	</div>

</f:section>