<f:form.hidden property="user" value="{user}"/>

<div class="form-group row">
	<label for="street" class="col-md-3 col-form-label">
		<f:translate id="street"/>
	</label>
	<div class="col-md-9">
		<f:form.textfield type="text" property="street" id="street" class="form-control"/>
	</div>
</div>

<div class="form-group row">
	<label for="streetNumber" class="col-md-3 col-form-label">
		<f:translate id="streetNumber"/>
	</label>
	<div class="col-md-9">
		<f:form.textfield type="text" property="streetNumber" id="streetNumber" class="form-control"/>
	</div>
</div>

<div class="form-group row">
	<label for="zip" class="col-md-3 col-form-label">
		<f:translate id="zip"/>
	</label>
	<div class="col-md-9">
		<f:form.textfield type="number" property="zip" id="zip" class="form-control"/>
	</div>
</div>

<div class="form-group row">
	<label for="city" class="col-md-3 col-form-label">
		<f:translate id="city"/>
	</label>
	<div class="col-md-9">
		<f:form.textfield type="text" property="city" id="city" class="form-control"/>
	</div>
</div>

<div class="form-group row">
	<label for="email" class="col-md-3 col-form-label">
		<f:translate id="email.address"/>
	</label>
	<div class="col-md-9">
		<f:form.textfield type="email" property="email" id="email" class="form-control"/>
	</div>
</div>

<div class="form-group row">
	<label for="phone" class="col-md-3 col-form-label">
		<f:translate id="phone"/>
	</label>
	<div class="col-md-9">
		<f:form.textfield type="number" property="phone" id="phone" class="form-control"/>
	</div>
</div>