
<f:layout name="Default" />

<f:section name="Title">
    <f:translate id="yourOrder"/>
</f:section>

<f:section name="PageTitle">
	<h1>
		<f:translate id="yourOrder"/>
	</h1>
</f:section>

<f:section name="Content">

	<f:if condition="{cartItems}">
		<f:then>

			<f:form action="placeOrder">

				<div class="one50-checkoutBlock">
					<h3>{f:translate(id: 'order.overview')}</h3>
					<f:render partial="Cart/Content" arguments="{cartItems: cartItems, allowItemRemoval: false}"/>
				</div>

				<div class="one50-checkoutBlock">
					<h3>{f:translate(id: 'address.billing')}</h3>
					<div class="row">
						<f:for each="{user.addresses}" as="address" iteration="iterator">
							<f:render partial="Address/Card" arguments="{address: address, allowEdit: false, selectionName: 'billingAddress', presetAddress: billingAddress, addressIndex: iterator.index}"/>
						</f:for>
					</div>

					<div class="one50-buttonContainer">
						<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newAddressModal">
							<f:translate id="address.new"/>
						</button>
					</div>
				</div>

				<div class="one50-checkoutBlock">
					<h3>{f:translate(id: 'address.delivery')}</h3>
					<div class="row">
						<f:for each="{user.addresses}" as="address" iteration="iterator">
							<f:render partial="Address/Card" arguments="{address: address, allowEdit: false, selectionName: 'deliveryAddress', presetAddress: deliveryAddress, addressIndex: iterator.index}"/>
						</f:for>
					</div>

					<div class="one50-buttonContainer">
						<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newAddressModal">
							<f:translate id="address.new"/>
						</button>
					</div>
				</div>

				<div class="one50-checkoutBlock">
					<h3>{f:translate(id: 'paymentMethod')}</h3>
					<f:if condition="{paymentMethods -> f:count()} > 1">
						<f:then>
							<p>
								<f:translate id="paymentMethod.pleaseChose"/>
							</p>
							<f:for each="{paymentMethods}" as="paymentMethod" iteration="iterator">
								<f:form.radio name="paymentMethod" value="{paymentMethod}" id="paymentMethod-{paymentMethod}"/>
								<label for="paymentMethod-{paymentMethod}">
									<f:translate id="paymentMethod.{paymentMethod}"/>
								</label>
								<f:if condition="{iterator.isLast}">
									<f:else>
										<br />
									</f:else>
								</f:if>
							</f:for>
						</f:then>
						<f:else>
							<p>
								<f:translate id="paymentMethod.onlyOneAvailable"/>
								<f:translate id="paymentMethod.{paymentMethods.0}"/>
							</p>
							<f:form.hidden name="paymentMethod" value="{paymentMethods.0}"/>
						</f:else>
					</f:if>
				</div>

				<div class="one50-buttonContainer">
					<f:form.submit value="{f:translate(id: 'order.place')}" class="btn btn-primary"/>
				</div>

			</f:form>

		</f:then>
		<f:else>
			<p>
				<f:translate id="cart.empty"/>
			</p>
		</f:else>
	</f:if>

	<f:render partial="Address/NewAddressModal" arguments="{user: user}"/>

</f:section>