
<div class="form-group row">
	<label for="title" class="col-md-3 col-form-label">
		<f:translate id="title"/>
	</label>
	<div class="col-md-9">
		<f:form.textfield type="text" property="title" id="title" class="form-control"/>
	</div>
</div>

<div class="form-group row">
	<label for="description" class="col-md-3 col-form-label">
		<f:translate id="description"/>
	</label>
	<div class="col-md-9">
		<f:form.textarea property="description" id="description" cols="6" class="form-control"/>
	</div>
</div>