@font-face {
	font-family: 'Signika';
	src: url('../Fonts/Signika/signika-light-webfont.woff2') format('woff2'),
	url('../Fonts/Signika/signika-light-webfont.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Signika';
	src: url('../Fonts/Signika/signika-regular-webfont.woff2') format('woff2'),
	url('../Fonts/Signika/signika-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Signika';
	src: url('../Fonts/Signika/signika-semibold-webfont.woff2') format('woff2'),
	url('../Fonts/Signika/signika-semibold-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Signika';
	src: url('../Fonts/Signika/signika-bold-webfont.woff2') format('woff2'),
	url('../Fonts/Signika/signika-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}