@font-face {
  font-family: 'Signika';
  src: url("../Fonts/Signika/signika-light-webfont.woff2") format("woff2"), url("../Fonts/Signika/signika-light-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Signika';
  src: url("../Fonts/Signika/signika-regular-webfont.woff2") format("woff2"), url("../Fonts/Signika/signika-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Signika';
  src: url("../Fonts/Signika/signika-semibold-webfont.woff2") format("woff2"), url("../Fonts/Signika/signika-semibold-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Signika';
  src: url("../Fonts/Signika/signika-bold-webfont.woff2") format("woff2"), url("../Fonts/Signika/signika-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
/**
 * Colors
 */
/**
 * Typography
 */
h1 {
  color: #ff3b3f;
  margin-bottom: 0;
  font-size: 3.5rem; }

h3 {
  color: #a9a9a9; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

/**
 * Bootstrap override
 */
.btn {
  transition: color 0.25s, box-shadow 0.125s; }
  .btn:hover {
    outline: none;
    box-shadow: 0 0 5px 1px #ccc; }
  .btn:focus, .btn:active:focus {
    outline: none;
    box-shadow: inset 0 0 5px 1px #ddd; }
  .btn.btn-primary {
    background-color: #caebf2;
    border-color: #a1dce8;
    color: #545454; }
    .btn.btn-primary:hover, .btn.btn-primary:active:focus {
      background-color: #caebf2;
      border-color: #a1dce8;
      color: #545454;
      outline: none; }
  .btn.btn-danger, .btn.btn-secondary {
    color: #767676;
    background-color: #ffffff;
    border-color: #cccccc; }
    .btn.btn-danger:hover, .btn.btn-danger:active:focus, .btn.btn-secondary:hover, .btn.btn-secondary:active:focus {
      color: #000000;
      background-color: #ffffff;
      border-color: #cccccc; }
  .btn.btn-danger:hover {
    color: #ff3b3f; }

.tag {
  vertical-align: top;
  font-weight: 100; }

.card {
  border: none;
  box-shadow: 0 0 5px 1px #ddd; }

.form-control:focus {
  border-color: #ff3b3f;
  color: #000000; }

/**
 * Page structure
 */
body {
  background-color: #efefef;
  font-family: "Signika", sans-serif; }

.mainNavigation {
  margin-bottom: 2rem; }

.mainContent {
  margin-bottom: 2rem;
  padding-bottom: 2rem; }
  .mainContent #headerArea {
    margin: 0 -15px;
    padding: 2rem 15px 0;
    background-color: #efefef; }
  .mainContent #contentArea {
    padding-top: 2rem; }

/**
 * Buttons
 */
.one50-buttonContainer {
  margin: 1rem 0 0;
  text-align: center; }
  .one50-buttonContainer.one50-noMargin {
    margin: 0; }

/**
 * Table
 */
.table tfoot {
  font-weight: bold; }
.table thead {
  background-color: #a9a9a9;
  color: #ffffff; }
  .table thead th {
    font-weight: 100; }
.table .tableCell-align-center {
  text-align: center; }
.table .tableCell-align-right {
  text-align: right; }
.table td,
.table th {
  border-top-color: #a9a9a9;
  vertical-align: middle; }

/**
 * Flash Messages
 */
.flashmessages {
  list-style-type: none;
  padding: 0; }
  .flashmessages li {
    position: relative;
    padding: 2rem;
    background-color: #caebf2;
    border-radius: 5px;
    color: #a9a9a9; }
    .flashmessages li:before {
      position: relative;
      float: left;
      margin-right: 1rem;
      top: -1.5rem;
      left: 0;
      font-family: "FontAwesome", sans-serif;
      font-size: 3rem; }
    .flashmessages li.flashmessages-ok:before {
      content: "\f00c"; }

/**
 * Login / Registration / Profile
 */
.one50-registrationHint {
  text-align: center; }

.one50-userProfileBlock {
  margin-bottom: 2rem; }
  .one50-userProfileBlock:last-of-type {
    margin-bottom: 0; }

/**
 * Shop Index
 */
.one50-shop-index .one50-product-card .card-img-wrapper .card-img-top {
  height: 16rem;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }
.one50-shop-index .one50-product-card .price-wrapper {
  text-align: right; }
  .one50-shop-index .one50-product-card .price-wrapper .price-tag {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    background-color: #a9a9a9;
    color: white; }
.one50-shop-index .one50-product-card .one50-addToCart-form .one50-quantity-input {
  text-align: center; }

/**
 * Orders
 */
.one50-orderBlock {
  margin-bottom: 2rem; }
  .one50-orderBlock:last-of-type {
    margin-bottom: 0; }

/**
 * Products
 */
.one50-productForm-image {
  text-align: center;
  margin-top: 1rem; }
  .one50-productForm-image img {
    max-width: 100%; }

/**
 * Checkout
 */
.one50-checkoutBlock {
  margin-bottom: 2rem; }
  .one50-checkoutBlock:last-of-type {
    margin-bottom: 0; }
  .one50-checkoutBlock .one50-addressBlock input {
    display: none; }
    .one50-checkoutBlock .one50-addressBlock input:checked + .card-block {
      color: #000000; }
      .one50-checkoutBlock .one50-addressBlock input:checked + .card-block .card-text:after {
        content: "\f00c";
        position: absolute;
        right: 0;
        bottom: 0;
        font-family: "FontAwesome";
        font-size: 2rem; }
  .one50-checkoutBlock .one50-addressBlock .card-block {
    color: #dddddd; }
    .one50-checkoutBlock .one50-addressBlock .card-block label {
      display: block;
      margin: 0; }
      .one50-checkoutBlock .one50-addressBlock .card-block label .card-text {
        position: relative;
        display: block; }

/*# sourceMappingURL=main.css.map */
