/*
Owner: TWINT AG
Ownder URL: http://www.twint.ch
License: All rights reserved
*/
/* ------------------------------------------------------------------------ */
/* Style Reset */
/* ------------------------------------------------------------------------ */
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
*/
/* ------------------------------------------------------------------------ */
/* Tags */
/* ------------------------------------------------------------------------ */
/*html {
  height: 100%;
}
body {
	font-family: markproRegular, Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: rgb(89,89,89);
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	min-height: 100%;
	margin: 0;
	padding: 0;
}*/

.container-twint h1 {
    font-family: markproRegular, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 20px 0 10px 0;
    padding: 0;
}
.container-twint h1 {
	font-size: 20px;
	line-height: 24px;
}
.container-twint a,
.container-twint a:link,
.container-twint a:visited {
	color: rgb(89,89,89);
	text-decoration:none;
	outline: 0;
}
.container-twint a:active {
	color: rgb(38,38,38);
	text-decoration:none;
	outline: 0;
}
.container-twint a:hover,
.container-twint a:focus {
	color: #00d76e;
	text-decoration:none;
	outline: 0;
}
.container-twint p {
	margin: 10px 0 10px 0;
}
.container-twint img {
	max-width: 100%;
	height: auto;
}

/* ------------------------------------------------------------------------ */
/* Layout */
/* ------------------------------------------------------------------------ */
.container-twint .section,
.container-twint .nav,
.container-twint .header,
.container-twint .page,
.container-twint .row {
	display: block;
}
.container-twint .section {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
.container-twint .section:after {
    content: "\0020";
    height: 0;
    clear: both;
    visibility: hidden;
}
.container-twint .wrap {
	width: 95%;
	margin: 0 auto;
	position: relative;
	padding: 0;
	height: inherit;
}
.container-twint .nav {
	height: 50px;
	background: #ffffff;
	border-bottom: 1px solid rgb(89,89,89);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.container-twint .header {
	height: 170px;
	background: #ffffff;
}
.container-twint .page {
	height: auto;
}
.container-twint .column {
	float: left;
	display: inline;
	margin: 0 auto;
	padding: 0;
}
.container-twint .one-third {
	width: 33.33%;
	margin: 0 auto;
}
.container-twint .text-right {
	text-align: right;
}
.container-twint .text-left {
	text-align: left;
}
.container-twint .text-center {
	text-align: center;
}
.container-twint .text-uppercase{
	text-transform: uppercase;
}
.container-twint .float-rt {
	float: right;
}
.container-twint .float-lt {
	float: left;
}
.container-twint .row {
	height: auto;
	overflow: auto; /* added */
	background-color: #ffffff;
	margin: 10px 0 10px 0;
}
.container-twint .row:before,
.container-twint .row:after {
    content: '\0020';
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.container-twint .row:after,
.container-twint .clearfix {
	clear: both;
}
.container-twint .hidden {
	display: none;
}
.container-twint .grey-bg {
	background-color: rgb(245,245,245);
}

/* ------------------------------------------------------------------------ */
/* Fonts */
/* ------------------------------------------------------------------------ */
@font-face {
	font-family: markproRegular;
	src: url('../assets/fonts/MarkOffcPro.eot');
	src:	url('../assets/fonts/MarkOffcPro.eot?#iefix') format('embedded-opentype'),
			url('../assets/fonts/MarkWebPro.woff') format('woff'),
			url('../assets/fonts/MarkOffcPro.ttf') format('truetype');
}
@font-face {
	font-family: markproLight;
	src: url('../assets/fonts/MarkOffcPro.eot');
	src:	url('../assets/fonts/MarkOffcPro.eot?#iefix') format('embedded-opentype'),
			url('../assets/fonts/MarkWebPro-Light.woff') format('woff'),
			url('../assets/fonts/MarkOffcPro-Light.ttf') format('truetype');
}

/* ------------------------------------------------------------------------ */
/* Navigation */
/* ------------------------------------------------------------------------ */
.container-twint .menu-item,
.container-twint .header-item {
	vertical-align: middle;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.container-twint .menu-item.img,
.container-twint .header-item.img,
.container-twint p .container-twint img {
	vertical-align: middle;
}
.container-twint .back-link,
.container-twint .back-link:link,
.container-twint .back-link:visited {
	display: inline-block;
	left: 0;
	height: 16px;
	text-indent: 20px;
	background: url('../assets/images/arrow_back.png') 0 0 no-repeat;
}
.container-twint .back-link:hover,
.container-twint .back-link:focus {
	background: url('../assets/images/arrow_back.png') 0 -16px no-repeat;
}
.container-twint .back-link:active {
	background: url('../assets/images/arrow_back.png') 0 -16px no-repeat;
}

/* ------------------------------------------------------------------------ */
/* Elements */
/* ------------------------------------------------------------------------ */
.container-twint .icon-info {
	background: url('../assets/images/info_icon.png');
	background-repeat: no-repeat;
	background-size: 15px 15px;
	width: 16px;
	height: 17px;
	margin-right: 8px;
	display: inline-block;
	vertical-align: middle;
}
.container-twint .datatrans-logo {
	background: url('../assets/images/datatrans_logo.png');
	background-repeat: no-repeat;
	background-size: 100px 24px;
	width: 100px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}
.container-twint .twint-logo {
	background: url('../assets/images/twint_logo.png');
	background-repeat: no-repeat;
	background-size: 80px 129px;
	width: 80px;
	height: 129px;
	display: inline-block;
	vertical-align: middle;
}
.container-twint .postfinance-logo {
	background: url('../assets/images/pf_logo.png');
	background-repeat: no-repeat;
	background-size: 80px 36px;
	width: 80px;
	height: 36px;
	display: inline-block;
	vertical-align: middle;
}
.container-twint .credentials {
	position: relative;
	display: inline-block;
	height: 350px;
	overflow: hidden;
}
.container-twint .credentials-box {
	position: relative;
	display: inline-block;
	padding: 30px 10px 0px 10px;
}
.container-twint .credentials-item {
	background-color: rgb(254,254,254);
	vertical-align: middle;
	position: relative;
	height: 220px;
	width: 220px;
	margin: 0 auto;
}
.container-twint .credentials-item img {
	vertical-align: middle;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;
}
.container-twint .credential-number {
	background-color: #cdcccc;
	font-family: markproLight, Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 28px;
	font-weight: normal;
	color: black;
	height: 40px;
	width: 30px;
	line-height: 45px;
	position: relative;
	display: inline-block;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;
}
.container-twint .value {
	font-family: markproRegular, Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: rgb(89,89,89);
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}
.container-twint .description-box {
	width: 450px;
	margin: 0 auto;
}
.container-twint .description-title {
	color: #00d76e;
	font-weight: bold;
}
.container-twint .description-icon {
	background-repeat: no-repeat;
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	left: 0;
	top: 50%;
	margin-top: -16px;
	position: absolute;
}
.container-twint .icon-app {
	background: url('../assets/images/icon_app.png');
}
.container-twint .icon-pay {
	background: url('../assets/images/icon_pay.png');
}
.container-twint .icon-cam {
	background: url('../assets/images/icon_cam.png');
}
.container-twint .description-item {
	display: table-cell;
	float: left;
	vertical-align: middle;
	position: relative;
	min-height: 32px;
	padding: 0 0 0 60px;
	margin: 10px 0 10px 0 !important;
	clear: both;
	width: auto;
}
.container-twint .description-text {
	text-indent: -1.1em;
	margin-left: 1em;
	vertical-align: middle;
	padding-left: 20px;
	height: 32px;
	display: table-cell;
}
.container-twint a.button,
.container-twint a.button:link,
.container-twint a.button:visited {
	display: inline-block;
	padding: 15px 20px 10px 20px;
	background: #00d76e;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-size: 14px;
	color: white;
	text-decoration: none;
	line-height: 14px;
	cursor: pointer;
	border: 0;
	margin-left: 5px;
	margin-right: 5px;
	height: 15px;
}
.container-twint a.button:hover,
.container-twint a.button:focus,
.container-twint a.button:active {
  background: #00d76e;
  text-decoration: none;
  color: rgb(89,89,89);
}
.container-twint a.button.back-button {
	background-image: url('../assets/images/arrow_back_white.png');
	background-repeat: no-repeat;
	background-position: 5px center;
}
.container-twint a.button.info-button {
	background-image: url('../assets/images/info_icon_white.png');
	background-repeat: no-repeat;
	background-position: 5px center;
}
/* ------------------------------------------------------------------------ */
/* Responsive design styles */
/* ------------------------------------------------------------------------ */
@media only screen and (max-width: 767px) {
.container-twint .nav-mobile {
	display: block;
	height: 150px;
	background: #ffffff;
	border: none;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.container-twint .header-mobile {
	display: block;
	height: 125px;
	background: #ffffff;
}
.container-twint .nav,
.container-twint .header,
.container-twint .credential-qrcode,
.container-twint .credential-txt {
	display: none;
}
.container-twint .credentials {
	height: 175px;
}
.container-twint .credentials-box {
	position: relative;
	padding: 10px 10px 0px 10px;
}
.container-twint .credentials-item {
	height: 110px;
}
.container-twint .description-box {
	width: 300px;
}
.container-twint .value {
	font-size: 28px;
	line-height: 28px;
	margin-top: 30px;
}
}

/* ------------------------------------------------------------------------ */
/* Retina optimization styles */
/* ------------------------------------------------------------------------ */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
.container-twint .info-icon {
	background: url('../assets/images/info_icon@2x.png');
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.container-twint .datatrans-logo {
	background: url('../assets/images/datatrans_logo@2x.png');
	background-repeat: no-repeat;
	background-size: 100px 24px;
}
.container-twint .twint-logo {
	background: url('../assets/images/twint_logo@2x.png');
	background-repeat: no-repeat;
	background-size: 80px 129px;
}
.container-twint .postfinance-logo {
	background: url('../assets/images/pf_logo@2x.png');
	background-repeat: no-repeat;
	background-size: 80px 36px;
}
.container-twint .icon-app {
	background: url('../assets/images/icon_app@2x.png');
	background-repeat: no-repeat;
	background-size: 32px 32px;
}
.container-twint .icon-pay {
	background: url('../assets/images/icon_pay@2x.png');
	background-repeat: no-repeat;
	background-size: 32px 32px;
}
.container-twint .icon-cam {
	background: url('../assets/images/icon_cam@2x.png');
	background-repeat: no-repeat;
	background-size: 32px 32px;
}
}

/* ------------------------------------------------------------------------ */
/* QR-Code Rendering */
/* ------------------------------------------------------------------------ */
.container-twint img.twint-qr-code {
   image-rendering: pixelated;
   image-rendering: -moz-crisp-edges;          /* Firefox */
   image-rendering: -o-crisp-edges;            /* Opera */
   image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
   image-rendering: crisp-edges;
}