<f:layout name="Default" />

<f:section name="Title">
    <f:translate id="category" quantity="2"/>
</f:section>

<f:section name="PageTitle">
	<h1>
		<f:translate id="category" quantity="2"/>
	</h1>
</f:section>

<f:section name="Content">

	<f:if condition="{categories}">
		<f:then>
			<div class="table-responsive">
				<table class="table">
					<thead>
					<tr>
						<th>{f:translate(id: 'title')}</th>
						<th>{f:translate(id: 'description')}</th>
						<th class="tableCell-align-center">{f:translate(id: 'product', quantity: '2')}</th>
						<th class="tableCell-align-right"></th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{categories}" as="category">
						<tr>
							<td>{category.title}</td>
							<td>{category.description}</td>
							<td class="tableCell-align-center">{category.products -> f:count()}</td>
							<td class="tableCell-align-right">
								<f:link.action action="edit" arguments="{category: category}" class="btn btn-secondary">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</f:link.action>
								<f:link.action action="delete" arguments="{category: category}" class="btn btn-danger">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</f:link.action>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</div>
		</f:then>
		<f:else>
			<p>
				<f:translate id="category.noneAvailable"/>
			</p>
		</f:else>
	</f:if>


	<div class="one50-buttonContainer">
		<f:link.action action="new" class="btn btn-primary">
			<i class="fa fa-plus" aria-hidden="true"></i>
			&nbsp;
			<f:translate id="category.new"/>
		</f:link.action>
	</div>

</f:section>