
<div class="form-group row">
	<label for="firstName" class="col-md-3 col-form-label">
		<f:translate id="firstName"/>
	</label>
	<div class="col-md-9">
		<f:form.textfield type="text" property="firstName" id="firstName" class="form-control"/>
	</div>
</div>

<div class="form-group row">
	<label for="lastName" class="col-md-3 col-form-label">
		<f:translate id="lastName"/>
	</label>
	<div class="col-md-9">
		<f:form.textfield type="text" property="lastName" id="lastName" class="form-control"/>
	</div>
</div>

